.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='times-new-roman']::before, .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='times-new-roman']::before {
    content: 'Times New Roman';
    font-family: 'Times New Roman';
}
.ql-font-times-new-roman {
    font-family: 'Times New Roman';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='georgia']::before, .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='georgia']::before {
    content: 'Georgia';
    font-family: 'Georgia';
}
.ql-font-georgia {
    font-family: 'Georgia';
}