@use 'common'

/* The only variable to change, changes how big the avatar should be rendered*/
$scale-factor = 20
$character-height = 21.78px
$character-width = 7px
$font-size = calc( $scale-factor * 2px)
$calculated-w = calc( $scale-factor * $character-width)
$calculated-h = calc( $scale-factor * $character-height)

/* tooltips 
  Usage:
   <div class="avatar-container">
     <div class="avatar avatar-walking facing-left">
       <img> <!-- avatar spritesheet -->
     </div>
     <div class="avatar-name"></div>
   </div>
  */
 
.avatar-container

  .avatar
    position: absolute
    width: $calculated-w
    height: $calculated-h
    overflow: hidden
    @include common.center-to-parent

    &.walking > img
      @include avatar-walking

    &.facing-right > img
      top: 0px

    &.facing-left > img
      top: calc(-2 * $calculated-h)
    
    /* avatar_spritesheet */
    img
      position: absolute
      width: calc(2 * $calculated-w)

  .avatar-name 
    position: absolute
    width: inherit
    padding: 10px
    @include common.center-to-parent

@mixin avatar-walking($speed = 200ms)
  -webkit-animation: moveSpritesheet $speed steps(2) infinite 
  animation: moveSpritesheet $speed steps(2) infinite

@-webkit-keyframes moveSpritesheet 
  from 
    transform: translate3d(0px, 0, 0)
  to 
    transform: translate3d(-100%, 0, 0)
  
@keyframes moveSpritesheet 
  from 
    transform: translate3d(0px, 0, 0)
  to 
    transform: translate3d(-100%, 0, 0)
  