$theme-color: #5a68f7
$important-color: #fd5506
$highlight-color: #fdb406
$black-color: #09133a
$dark-theme-color: #2b3f8a
$light-theme-color: #96a5dd

@mixin ui-frame($radius = 20px, $border = 3px)
  background-color: white
  border-radius: $radius
  border: solid $theme-color $border

@mixin ease-in-out-animation($duration = 200ms)
	transition: all $duration ease-in-out
  -webkit-transition: all $duration ease-in-out
  -moz-transition: all $duration ease-in-out
  -o-transition: all $duration ease-in-out
  -ms-transition: all $duration ease-in-out

@mixin small-container
  color: $theme-color
  font-size: 13px
  padding: 2px 10px

@mixin center-to-parent
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

@mixin flex-container($direction, $primary, $secondary)
  display: flex
  flex-direction: $direction
  //primary axis
  justify-content: $primary
  //secondary axis
  align-items: $secondary

@mixin fit-parent-with-margin($top-bottom, $left-right)
  margin: $top-bottom $left-right
  width: 100% - (2 * $left-right)
  height: 100% - (2 * $top-bottom)

@mixin open-window($duration = 200ms)
  animation: open-window $duration ease-in forwards

@mixin close-window($duration = 200ms)
animation: close-window $duration ease-in forwards

@keyframes open-window
  0%
    display: 1
    opacity: 0
  100%
    opacity: 1

@keyframes close-window
  0%
    display: 1
    opacity: 1
  100%
    display: 0
    opacity: 0
  
