@use 'common'

.opened-window
  @include common.open-window
  
.closed-window
  @include common.close-window
  
  /* Default button styles*/
.input[type=button]
  color: common.$theme-color
  padding:5px 25px
  cursor: pointer
	@include common.ui-frame
  @include common.ease-in-out-animation

  &::active
    background-color: common.$dark-theme-color
    color: white

/* tooltips 
  Usage:
   <tag class="tooltip" tooltip-texts="texts to be displayed in tooltip"></tag>
  */
.tooltip
  @include tooltip

@mixin tooltip($original-y = -10px, $transformed-y = 0px)
  &::after, &::before
    display: block
    opacity: 0
    position: absolute
    pointer-events: none
    transform: translate3d(0, #{$original-y})
    @include common.ease-in-out-animation (150ms)
  
  /* the triangle at the tooltip */
  &::after 
    height: 0
    width: 0
    top: calc(100% - 6px)
    left: 20px
    border-right: 6px solid transparent
    border-bottom: 6px solid common.$theme-color 
    border-left: 6px solid transparent
    content: ''

  /* tooltip content */
  &::before 
    top: 100%
    content: attr(tooltip-texts)
    white-space: nowrap
    @include common.ui-frame (15px, 2px)
    @include common.small-container

  &:hover::after, &:hover::before 
    opacity: 1
    transform: translate3d(0,#{$transformed-y},0)
