@font-face {
    font-family: 'times_new_roman';
    src: url('../fonts/times_new_roman-webfont.woff2') format('woff2'),
         url('../fonts/times_new_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'times_new_roman';
    src: url('../fonts/times_new_roman_italic-webfont.woff2') format('woff2'),
         url('../fonts/times_new_roman_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'times_new_roman';
    src: url('../fonts/times_new_roman_bold-webfont.woff2') format('woff2'),
         url('../fonts/times_new_roman_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'times_new_roman';
    src: url('../fonts/times_new_roman_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/times_new_roman_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'georgia';
    src: url('../fonts/georgia-webfont.woff2') format('woff2'),
         url('../fonts/georgia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'georgia';
    src: url('../fonts/georgia_italic-webfont.woff2') format('woff2'),
         url('../fonts/georgia_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'georgia';
    src: url('../fonts/georgia_bold-webfont.woff2') format('woff2'),
         url('../fonts/georgia_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'georgia';
    src: url('../fonts/georgia_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/georgia_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}
