:root {
  --character-height: 21.78px;
  --character-width: 7px;
  --scale-factor: 20;
  --animation-length-x: 11s;
  --animation-length-y: 12s;
  --blue-color: #5a68f7;
  --speech-bubble-width: calc(var(--scale-factor) * 20px);
  --font-size: calc(var(--scale-factor) * 2px);
  --calculated-w: calc(var(--scale-factor) * var(--character-width));
  --calculated-h: calc(var(--scale-factor) * var(--character-height));
}

body {
  background: white;
  overflow: hidden;
  font-size: var(--font-size);
  font-family: 'Times New Roman';
}

#speech-bubble {
  position: absolute;
  width: var(--speech-bubble-width);
  top: 0%;
  left: var(--calculated-w);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: white;
  color: var(--blue-color);
  border-radius:20px;
  padding:20px 25px;
  margin: 5px 0px;
  border: solid var(--blue-color) 3px;
  cursor: pointer;
  font-size: var(--font-size);
}

button:active{
  background-color: var(--dark-pastel-blue-color); 
  color: white;
}

button:hover{
  background-color: var(--blue-color); 
  color: white;
}

#poster {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.Character {
  width: var(--calculated-w);
  height: var(--calculated-h);
  overflow: hidden;
  position: relative;
}

.Character_spritesheet {
  -webkit-animation: moveSpritesheet 200ms steps(2) infinite, change-direction calc(2 * var(--animation-length-x)) steps(2) infinite;
         animation: moveSpritesheet 200ms steps(2) infinite, change-direction calc(2 * var(--animation-length-x)) steps(2) infinite;
  width: calc(2 * var(--calculated-w));
  position: absolute;
}

.x {
  width: 0px;
  -webkit-animation: x var(--animation-length-x) linear infinite alternate-reverse;
          animation: x var(--animation-length-x) linear infinite alternate-reverse;
}

.y {
  -webkit-animation: y var(--animation-length-y) linear infinite alternate;
          animation: y var(--animation-length-y) linear infinite alternate;
}

@-webkit-keyframes x {
  100% {
    transform: translateX(calc(100vw - var(--calculated-w) - var(--speech-bubble-width)));
  }
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - var(--calculated-w) - var(--speech-bubble-width)));
  }
}
@-webkit-keyframes y {
  100% {
    transform: translateY(calc(100vh - var(--calculated-h)));
  }
}
@keyframes y {
  100% {
    transform: translateY(calc(100vh - var(--calculated-h)));
  }
}

@-webkit-keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes change-direction {
  from {
    top: 0px;
  }
  to {
    top: calc(-2 * var(--calculated-h));
  }
}

@keyframes change-direction {
  from {
    top: 0px;
  }
  to {
    top: calc(-2 * var(--calculated-h));
  }
}