@import 'font.css'
@import 'avatar'
@import 'defaults'
@use 'common'

/**///////////////////*/
/** Structural styles */
/**///////////////////*/

body 
  margin: 0px
  width: 100vw
  height: 100vh
  background-color: white
  overflow: hidden
  font-family: 'Times New Roman', Georgia
  color: common.$theme-color

body > *
	position: absolute
	top: 0
	left: 0
	@include common.fit-parent-with-margin(0%, 0%)

#popup-container
  z-index: 6

	#exhibition-map-container

		canvas

		.teleport-buttons

#ui-container
	z-index: 5
	visibility: hidden
	@include common.fit-parent-with-margin(2%, 2%)
	@include common.flex-container(column, flex-start, flex-start)
	
	*
		visibility: visible

	#basic-ui-container
		width: 100%
		height: 10%
		min-height: 50px
		padding-bottom: 20px
		@include common.flex-container(row, flex-start, flex-end)

		#admin-profile-container
			@include build-admin-profile

		#cms-tools-button

		#help-button

		#map-button

	#cms-tools-container
		width: 30%
		margin: 20px 0px
		box-sizing: border-box
		align-self: flex-end
		@include common.flex-container(column, flex-start, center)

		#create-image-button

		#create-paragraph-button

		#create-video-button

		#hide-cms-tools-button

#event-trigger-layer
	display: none
	z-index: 4

#editing-tools-container
	z-index: 3

	#text-editor-container
		display: none

#visitors-layer
	z-index: 2

#map-objects-layer
	z-index: 1

/**///////////////////*/
/** individual styles */
/**///////////////////*/

@mixin build-admin-profile
	//use css grid