:root {
  --red-color: #fd5506;
  --yellow-color: #fdb406;
  --blue-color: #5a68f7;
  --dark-blue-color: #09133a;
  --pastel-blue-color: #96a5dd;
  --dark-pastel-blue-color: #2b3f8a;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  font-family: 'Times New Roman', Georgia;
  color: var(--blue-color);
}

/* ////////////////////////////////// */
/* main container of the page */
/* ////////////////////////////////// */

#ui-container {
  position: absolute;
  width: 96%;
  height: 96%;
  top: 0%;
  left: 0%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  visibility: hidden;
}

#ui-container * {
  visibility: visible;
}

    #basic-ui-container {
      width: 100%;
      height: 10%;
      min-height: 50px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      z-index: 5;
    }

    #cms-tools-container {
      width: 30%;
      margin: 20px 0px;
      align-self: flex-end;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 5;
    }

#canvas-elt-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 3;
}

#html-elt-container {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  z-index: 1;
}

#event-trigger-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

#selection-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #61470b88;
  mix-blend-mode: hard-light;
  display: none;
}

#map-window-container {
  position: absolute;
  width: 92%;
  height: 92%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
}

    #map {
      height: 80%;
    }

    .teleport-buttons {
      height: 50px;
    }

#text-editor-container {
  display: none;
  z-index: 4;
}

/* ////////////////////////////////// */
/* common classes */
/* ////////////////////////////////// */

.popup {
  position: absolute;
  z-index: 6;
}

.add-transition-animation, input[type=button] {
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
}

.ui-frame {
  background-color: white;
  border-radius: 20px;
  border: solid var(--blue-color) 3px;
}

input[type=button] {
  background-color: white;
  color: var(--blue-color);
  border-radius:20px;
  padding:5px 25px;
  border: solid var(--blue-color) 3px;
  cursor: pointer;
}

input[type=button]:active{
  background-color: var(--dark-pastel-blue-color); 
  color: white;
}

/* setup tooltips */
.tooltip {
  position: relative;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.tooltip:after {
  height: 0;
  width: 0;
  top: calc(100% - 6px);
  left: 20px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--blue-color); 
  border-left: 6px solid transparent;
  content: '';
}
.tooltip:before {
  top: 100%;
  background: white;
  border: solid var(--blue-color) 2px;
  border-radius: 15px;
  color: var(--blue-color);
  content: attr(data-title);
  font-size: 13px;
  padding: 2px 10px;
  white-space: nowrap;
}

.tooltip:hover:after,
.tooltip:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

/* ////////////////////////////////// */
/* basic ui container */
/* ////////////////////////////////// */

#admin-profile-container {
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

    #admin-profile {
      width: fit-content;
      max-width: 350px;
      min-width: 250px;
      height: fit-content;
      min-height: 6ex;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

        #admin-profile-header {
          width: 100%;
          display: flex;
          flex-direction: row;
        }

            #admin-profile-header .tooltip {
              width: 3ex;
            }

            #admin-profile-header .tooltip:before, #admin-profile-header .tooltip:after {
              transform: translate3d(-15px, 10px, 0);
            }
            
            #admin-profile-header > * {
              height: 8ex;
              margin: 1ex;
            }

            #admin-profile-pic {
              width: 8ex;
              box-sizing: border-box;
              border-radius: 50%;
              border: var(--blue-color) 3px solid;
            }

            #admin-profile-header > div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
            }

                #admin-profile-header > div > div {
                  height: 50%;
                  margin: 0 -5px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: flex-start;
                }

                   #admin-profile-header > div > div > * {
                      margin: 0 5px;
                   }

                    #admin-profile-header > div > div > p {
                      font-size: 0.8em;
                    }

        #admin-profile-details {
          width: 100%;
          flex-direction: column;
          display: none;
        }

            #admin-profile-details > div {
              display: flex;
              flex-direction: row;
            } 

            #admin-profile-details > div > *:nth-child(1) {
              width: 100px;
            }
            #admin-profile-details > div > *:nth-child(2) {
              width: calc(100% - 100px);
            }

            p#login-name + div {
              width: 3ex;
            }

#cms-tools-button, #help-button, #map-button {
  height: 6ex;
}

/* ////////////////////////////////// */
/* cms tools container */
/* ////////////////////////////////// */

#cms-tools-container > *{
  margin: 11px 0px;
}

#explanation-window-container {
  display: none;
  flex-direction: column;
  align-items: center;
}

#add-buttons-container {
  margin: auto 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#add-buttons-container input[type=image] {
  width: 100%;
}
/* ////////////////////////////////// */
/* text editor */
/* ////////////////////////////////// */
#text-editor-container > .ql-toolbar.ql-snow {
  position: absolute;
  width: 100%;
  min-width: 300px;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  z-index: 6;
}

#text-editor {
  width: 100%;
  height: 100%;
}

/* ////////////////////////////////// */
/* exhibition container */
/* ////////////////////////////////// */

#html-elt-container > * {
  position: absolute;
  width: fit-content;
  height: fit-content;
}

#html-elt-container > .paragraph-container > *{
  margin: unset;
  width: 100%;
  height: 100%;
}

body[client=admin] #html-elt-container > * {
  cursor: move;
}

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) {
  input[type=button]:hover{
    background-color: var(--blue-color); 
    color: white;
  }
}


